
<h1>Welcome to matchmaking site</h1>
<!-- <form method="GET" action="http://192.168.50.137:5000/data"> -->
    
<form method="GET" action={{url}}/upload>
    <button type="submit" class="btn btn-primary"> Upload a bio</button>
</form>
<!-- <form method="GET" action="http://192.168.50.137:5000/insert"> -->
    <form method="GET" action={{url}}/get_file>
    <button type="submit" class="btn btn-primary"> Download a bio</button>
</form>
<form method="GET" action={{url}}/logout>
<!-- <form method="GET" action="http://192.168.50.137:5000/printstuff"> -->
    <button type="submit" class="btn btn-primary"> logout</button>
</form>